<div class="container">
    <div class="row">
        <div class="col-md-3" ng-repeat="entry in golfPickem.entries">
            <div class="panel panel-brand">
                <div class="panel-heading">
                    <h3 class="panel-title">{{entry.name}}</h3>
                </div>
                <ul class="list-group" ng-repeat="pick in entry.picks">
                    <li class="list-group-item">
                        <h4 class=list-group-item-heading">{{pick}}</h4>
                        <a href="#" class="list-group-item-text">
                            <em>Selected {{golfPickem.getPlayerSelectionCount(pick)}} time(s).</em>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>