<div class="container-fluid">
    <div class="row spacer">
        <div class="col-md-2">
            <div class="panel">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="golfPickem.display" uib-btn-radio="golfPickem.ENTRIES">entries</label> <label class="btn btn-primary"
                        ng-model="golfPickem.display" uib-btn-radio="golfPickem.SCOREBOARD">scoreboard</label>
                </div>
                <button ng-click="golfPickem.toggleDisplay()" type="button" class="btn btn-large btn-info">toggle</button>
            </div>
        </div>
        <div class="col-md-10">
            <div ng-show="golfPickem.display === golfPickem.ENTRIES">
                <pickem-entries></pickem-entries>
            </div>
            <div ng-show="golfPickem.display === golfPickem.SCOREBOARD">
                <scoreboard></scoreboard>
            </div>
        </div>
    </div>
</div>