<div class="container">
    <div class="row">
        <p>This is the Masters Pick 'Em Page</p>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover table-sm">
            <tbody>
                <tr>
                    <th>participant</th>
                    <td>pick 1</td>
                    <td>pick 2</td>
                    <td>pick 3</td>
                    <td>pick 4</td>
                    <td>pick 5</td>
                </tr>
                <tr ng-repeat="entry in golfPickem.entries">
                    <th>{{entry.name}}</th>
                    <td ng-repeat="pick in entry.picks">{{pick}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="entry in golfPickem.entries">
            <strong>{{entry.name}}</strong>
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="pick in entry.picks">
                    <h4 class=list-group-item-heading">{{pick}}</h4>
                    <p class="list-group-item-text">
                        <em>Selected {{golfPickem.getPlayerSelectionCount(pick)}} time(s).</em>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>